.modal {
    place-items: start;
}

#share {
    margin-left: auto;
}

#edit:hover,
#del:hover,
#share:hover {
    cursor: pointer;
}

canvas {
    transition: none;
    height: 50vh !important;
}


.event-image {
    width: 50%;
}

@media (max-width: 600px) {
    .event-image {
        width: 100%;
    }
}