.modal {
    place-items: start;
}

#share {
    margin-left: auto;
}

#edit:hover,
#del:hover,
#share:hover {
    cursor: pointer;
}


@media (max-width: 512px) {
    .grid h4 {
        font-size: 0.75em
    }
}