.modal {
    place-items: start;
}

#share {
    margin-left: auto;
}

#edit:hover,
#del:hover,
#share:hover {
    cursor: pointer;
}


@media (max-width: 600px) {

    h4,
    p {
        font-size: 0.75em
    }
}