:root {
    --dark0: #1a1a1a;
    --dark1: #1f1f1f;
    --dark2: #2b2b2b;
    --dark3: #3b3b3b;
    --accent: #a353b9;
    --accent2: #7c2a95;
    --red: #be2121;
    --premium: #ddb23c;
    --light1: #e5e5e5;
    --light2: #d4d4d4;

}

html {
    height: 100%;
    position: relative;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100%;
    margin: 0;
    background-color: var(--dark1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    place-content: center;
}


* {
    color: white;
    color-scheme: dark;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    accent-color: var(--accent);
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    width: fit-content;
    margin: 0;
    text-wrap: nowrap;
    font-size: 2em
}

h3 {
    font-weight: normal;
    font-size: 1.5em;
    margin: 0;
}

h4,
h5 {
    margin: 0;
}

p {
    font-size: 1em;
}

input[type="file"] {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
    padding: 0;
}

input,
textarea,
select,
label,
p.inp,
button,
.tools img {
    font-size: 1.25em;
    border-color: transparent;
    background-color: var(--dark2);
    padding: 10px;
    width: calc(100% - 20px);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    resize: none;
    transition: all 0.25s ease-in-out;
    margin: 0;
}


label {
    width: auto;
}

label {
    font-size: 1.25em;
}

hr {
    width: 100%;
    border-color: var(--accent);
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    margin: 0;
}

#ver {
    position: absolute;
    right: 0;
    top: 0;
}

.item {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: transparent
}

.item:hover {
    background-color: var(--dark2);
    text-decoration: none;
}

.no-hov {
    border: none;
    transition: none;
}

.no-hov:hover {
    cursor: default;

}

a {
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

a:hover {
    color: var(--accent);
    text-decoration: underline;

}



button {
    font-size: 1.25em;
    background-color: var(--dark2);
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.25s ease-in-out;
    width: 100%;
    text-wrap: nowrap;

}

.tools img {
    background-color: transparent;
    padding: 5px;
}

.tools img:hover {

    background-color: var(--dark2);
}

button:hover,
label:hover,
input[type="color"]:hover {
    background-color: var(--dark3);
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
    transition: all 0.25s ease-in-out;
    border-radius: 15px;
    place-self: center;
    place-items: center;
    padding: 20px;
    width: 50%;

    border: 4px solid var(--dark2);
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;

}

.row {
    display: flex;
    place-content: center;
    flex-direction: row;
    place-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h6 {
    margin: 0;
}

.pending {
    border-color: var(--dark0);
}

#heading {
    margin: 20px;
    text-align: left;
}


#sidebar,
#expand {
    width: auto;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-right: 4px solid var(--dark2);
    text-wrap: nowrap;
}

#expand {
    overflow: hidden;
    width: 0;
    min-width: 0;
    padding: 0;
    border-right: 0px solid var(--dark2);
    transition: all 0.25s ease-in-out;
    place-content: end;
    /*position: absolute;
    left: calc(20% + 14px); */
    background-color: var(--dark1);
    position: absolute;
    left: calc((100vw / 5) + 18px);
    z-index: 1000;
}

.showExpand {
    min-width: 20vw !important;
    border-right: 4px solid var(--dark2) !important;
    padding: 5px !important;
    height: calc(100% - 10px) !important
}

#sidebar {
    min-width: calc(100%/5);
    position: relative;
    left: 0;
}

.item {

    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 5px;
    text-wrap: nowrap;
    transition: all 0.25s ease-in-out;
    width: auto;
    padding-right: auto;
}

.item img {
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
    user-select: none;
}

.item:hover {
    cursor: pointer;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}


.menu {
    height: 100%;
}

#content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    overflow-y: auto;
    gap: 40px;

}

#content .event:first-child,
#content .user:first-child {
    margin-top: 20px
}

#content .event:last-child,
#content .user:last-child {
    margin-bottom: 20px;
}


.border {
    border-style: solid;
    border-color: var(--accent);
    border-radius: 15px;
}

.border-hov:hover {
    border-style: solid !important;
    border-color: var(--accent) !important;
    border-radius: 15px !important;
}



.event .row {
    margin: 0 !important;
    place-content: start;
    place-items: start;
    width: auto;
}


.event,
.user {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid var(--dark2);

}

.alert {
    position: absolute;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;
}

.alert .modal {
    z-index: 1000;
    background-color: var(--dark1);
    width: fit-content;
}

.alert-text {
    font-size: 1.25em
}

#bg {
    opacity: 0.5;
    background-color: var(--dark0);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.event-content {
    display: flex;
    flex-direction: column;
    gap: 10px
}

p {
    margin: 0;
    word-break: break-word;
}

.event h3 {
    margin: 0;
    width: fit-content
}

.pfp {
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}


.event-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
    aspect-ratio: 16 / 9;
    object-fit: contain;

}

.badge {
    padding: 5px 10px;
    border-radius: 15px;
    color: white !important;
    font-weight: bold !important;
}

#pfp,
.user-side .icon {
    aspect-ratio: 1 / 1;
    object-fit: contain;
    background-color: var(--dark0);
}


.event p {
    text-wrap: wrap;
    word-break: normal;
}

.user-info *:not(.display-name) {
    color: gray;
    font-weight: normal;
    margin: 0;
}

.display-name {
    color: white;
    font-weight: bold;
    margin: 0;
    user-select: none;
}

.display-name:hover {
    cursor: pointer;
}

.pfp:hover {
    cursor: pointer;
}

.bullet {
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.event .event-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.event-details :first-child {
    margin-left: 0;
}


.actions {
    display: flex;
    flex-direction: row;
    place-content: end;
    width: 100%;
    margin-right: 0px;
    margin-top: 5px;
}

.actions .row {
    width: 100%;
}

.action {
    font-size: 12.5pt;
    display: flex;
    border: 3px solid transparent;
    flex-direction: row;
    place-items: center;
    place-content: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
    gap: 5px
}


/* .current {
    z-index: 100;
    border: 4px solid var(--dark2);
    border-bottom: 4px solid var(--dark1);
} */

.page {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.pageContent {
    display: none;
}

.currentPage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.action:hover {
    cursor: pointer;
    background-color: var(--dark2);
}

.actions img {
    aspect-ratio: 1 / 1;
    width: 30px;
    height: 100%;
}

.user-side img {
    border-radius: 100%;
}

#search-icon {
    display: flex;
    place-content: center;
    place-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--dark0);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid var(--dark0);
    transition: all 0.25s ease-in-out;
}

#search-icon:hover {
    cursor: pointer;
    background-color: var(--dark1);
}

#search {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 32px;
    border: 2px solid var(--dark0);
    font-size: 1em;
    outline: none;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 45px;
}

.grid>* {
    border: 3px solid var(--dark2);
    display: flex;
    place-items: center;
    padding: 10px;
}

.grid input {
    height: 100%;
    width: 25px !important;
}

input[type=checkbox] {
    accent-color: var(--accent);
    width: fit-content
}

#pfp {
    width: 150px;
    border-radius: 100%;
    border-width: 4px;
    margin-right: 15px;
    height: 150px
}

#heading:hover {
    cursor: pointer;
    user-select: none;
}

.tools {
    place-content: end;
}

.tools img {
    width: 35px;
    height: 35px;
}

.tools img:hover {
    cursor: pointer;
}

.moreMenu {
    position: relative;
}

.moreMenu .menu {
    display: none;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 40px;
    right: 0;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: var(--dark1);
    border: 4px solid var(--dark0);
    min-width: 200px;
    z-index: 1000;
    height: fit-content;
    transition: all 0.25s ease-in-out;
    gap: 10px;
}

.moreMenu .menu div {
    background-color: var(--dark1);
    width: calc(100% - 20px);
    padding: 5px 10px;
    border-radius: inherit;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    user-select: none;

}

.moreMenu .menu div:hover {
    background-color: var(--dark2);
    cursor: pointer;
}

.tab {
    font-weight: bold;
    font-size: 1em;
}



@media (max-width: 1200px) {
    .modal {
        width: 75%;
    }

    .hide {
        display: none;
    }

    #expand {
        left: calc((100vw / 4) + 18px)
    }

    #sidebar {
        min-width: calc(100vw / 4)
    }

    .showExpand {
        min-width: 25vw !important;
    }
}

@media (max-width: 600px) {


    #bottom {
        flex-direction: column-reverse;
    }

    .badge {
        font-size: 0.6em;
    }

    .moreMenu img {
        width: 25px !important;
        height: 25px !important;
    }

    .modal {
        width: 75% !important;
    }

    #expand {
        left: 0
    }

    #sidebar {
        min-width: auto;
    }

    #sidebar h4 {
        display: none;
    }

    #sidebar .icon {
        margin: 0;
    }

    #sidebar .item {
        width: auto
    }

    .item {
        padding: 5px;
        place-content: center;
    }

    #heading {
        font-size: 1.75em;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 1.25em
    }

    h3,
    h4,
    p {
        font-size: 1em;
    }

    .row {
        gap: 5px;
    }

    .pfp {
        width: 32px;
        max-height: 32px;
    }

    .event,
    .user {
        padding: 10px
    }

    .user-info,
    .event-details,
    .event p {
        font-size: 0.75em;
    }

    .user-info * {
        width: 100%;
    }

    .action span {
        font-size: 0.75em;
    }

    .action {
        padding: 5px;
    }

    .showExpand {
        min-width: 25vw !important;
    }

    .action img {
        width: 20px;
        height: 20px;
    }

    .tab {
        font-size: 0.75em;
    }

    /* .tools img {
        height: 25px;
        width: 25px;
    } */

    input,
    textarea,
    select,
    label {
        font-size: 1em
    }

    .showExpand {
        min-width: calc(100vw - 10px) !important;
        border: none !important;
    }

    #pfp {
        width: 100px;
        height: 100px;
        margin-bottom: 20px
    }



}