.row {
    width: 100%;
    flex-wrap: nowrap;
}

.row h3 {
    font-size: 1.25em;
    text-wrap: nowrap;
}

.pageh {
    display: none;
}

.currenth {
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0;
}

#preview {
    object-fit: contain;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#next {
    margin-left: auto;
}

#prev {
    margin-right: auto;
}

#searchButton:hover {
    cursor: pointer;
}

textarea {
    font-size: 1em
}

#tags {
    font-size: 1.25em;
}

.modal {
    width: fit-content;
    max-width: 50%;
}

.buttons button {
    border-color: var(--dark0);
}

.buttons {
    top: 2px;
    display: flex;
    position: relative;
}