.icon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    place-content: center;
    background-color: var(--dark0);
    margin: 0;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20px;

    height: 28px;
}

.icon span {
    margin: 0;
    font-weight: bold;
    font-size: 1.25em;
}

input {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#username {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#inputs {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#inputs>* {
    margin-bottom: 10px;
}


.modal {
    width: auto;
}

#forgotpass {
    color: var(--accent)
}

#forgotpass:hover {
    cursor: pointer;
    text-decoration: underline;
}

#inputs {
    width: 100%;
}

input[type=checkbox] {
    height: 25px;
    width: 25px;
}

p {
    font-size: 1em
}