.modal {
    place-items: start;
}

.row {
    place-items: start;
}


#userDetails p {
    font-size: 1.1em;
    overflow-y: hidden;
}

#displayName {
    margin: 0 !important;
    text-wrap: balance;
}

#username {
    color: gray
}



hr {
    position: relative;
    bottom: 4px;
    margin: 0 !important;

}


#edit:hover {
    cursor: pointer;
}

#top {
    flex-wrap: nowrap;
}

#userDetails {
    width: 100%;
    gap: 10px !important
}

#userDetails .row {
    flex-wrap: wrap;
}