.no-hov {
    border: none;
}

.no-hov:hover {
    cursor: default !important;
    background-color: transparent;

}

a:hover {
    color: var(--accent);
    text-decoration: underline;
}

button:hover {
    background-color: var(--accent);
    cursor: pointer;
}

.item:hover {
    background-color: var(--accent2);
    text-decoration: none;
    cursor: pointer;
}

label:hover,
input[type="color"]:hover,
select:hover {
    background-color: var(--dark2) !important;
    cursor: pointer;
}


.tools img:hover,
.action:hover {

    background-color: var(--dark2);
    cursor: pointer;
}

.border-hov:hover {
    border-style: solid !important;
    border-color: var(--accent) !important;
    border-radius: 15px !important;
}

.event:hover,
.user:hover {
    border-color: var(--accent2);
}

#heading:hover {
    cursor: pointer;
    user-select: none;
}