/* fonts */

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

#heading {
    margin: 20px;
    text-align: left;
    font-size: 3em !important;
    font-family: "EB Garamond";
}


#sidebar,
#expand {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-wrap: nowrap;
    background-color: var(--dark0);
    overflow-y: scroll;
}

.hide-item {
    display: none !important;
}

#expand {
    overflow-y: auto;
    width: 0;
    min-width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
    place-content: start;
    background-color: var(--dark0);
    position: absolute;
    left: calc(100vw / 5);
    z-index: 1000;
    border-right: 4px solid var(--accent2);
    height: 100%;
}



#expand .event {
    place-items: start;
    padding: 5px;
    text-wrap: wrap;
    width: auto !important;
}

#expand .event:hover {
    background-color: transparent;
    cursor: default;
}

.showExpand {
    min-width: 20vw !important;
    padding: 10px !important;
}

.showExpand2 {
    min-width: 40vw !important;
    padding: 10px !important;
}

#sidebar {
    min-width: calc(100%/5);
    position: relative;
    left: 0;
}

#sidebar hr {
    width: calc(100% - 40px) !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.item {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 5px;
    text-wrap: nowrap;
    transition: all 0.25s ease-in-out;
    width: auto;
}

.item img {
    height: 32px;
    width: 32px;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
    user-select: none;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}


.menu {
    height: 100%;
}

.item {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-color: transparent
}

#pfp,
.user-side .icon {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
    background-color: var(--dark0);
}

.user-side .icon {
    border-radius: 7.5px;
}